extends ../layout.pug

block append content
  if user
    form(method='get' action='/users/find')
      input(type='text' name='username', placeholder='Search usernames...')
      input(type='submit' value='Search')
  else
    h1.head-title Welcome to Messenger!
